.Main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.MainRoutine {
  width: 25%;
  /* background-color: blue; */
}

.MainTasks {
  width: 50%;

  display: flex;
  justify-content: center;
  /* background-color: red; */
}
