.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  max-width: 100%;
}

.spacing {
  height: 20px;
  background-color: transparent;
}

/* Media Query für Bildschirme kleiner als 1478px */
@media (max-width: 1478px) {
  .spacing {
    display: none;
  }
}

/* Media Query für Bildschirme kleiner als 1478px */
@media (max-width: 1478px) {
  .main {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
