* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(16, 16, 21);
}

/* Scrollbalken ausblenden */
html,
body {
  overflow-x: hidden; /* Horizontalen Scrollbalken ausblenden */
  overflow-y: auto; /* Vertikalen Scrollbalken beibehalten */
}

/* Scrollbalken für Webkit-Browser (Chrome, Safari) ausblenden */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Scrollbalken für Firefox ausblenden */
html {
  scrollbar-width: none;
}

.app {
  max-width: 1800px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  justify-content: center;
}
